
#demi
{

    border: 1px solid black;
    width: 60px;
    height: 20px;
    
}

#tab
{
    
    border: 1px solid black;
    width: 120px;
    height: 20px;
    
}

#liste
{
    
    color: red;
    
}
